# Module 4 Project -Task 1

Author: [Hayley Massey](https://github.com/HMas522)
Repository: [datafun-04-notebooks](https://github.com/HMas522/datafun-04-notebooks)

In [10]:
#This cell is Python
import pandas as pd

In [11]:
#List of grades by defining grades
grades = pd.Series([90, 95, 75, 80])

#display output
grades

0    90
1    95
2    75
3    80
dtype: int64

In [12]:
# TODO Get value of first grade
grades[0]

#Calling series method describe to produce stats
grades.describe()

count     4.000000
mean     85.000000
std       9.128709
min      75.000000
25%      78.750000
50%      85.000000
75%      91.250000
max      95.000000
dtype: float64

# Module 4 Project -Task 2.1

Author: [Hayley Massey](https://github.com/HMas522)
Repository: [datafun-04-notebooks](https://github.com/HMas522/datafun-04-notebooks)

In [13]:
#import pandas
import pandas as pd

In [14]:
#Create a dictionary
grades_dict ={'Wally': [87, 96, 70], 'Eva': [100, 87, 90], 'Sam' : [94, 77, 90], 'Katie' : [100, 81, 82], 'Bob' : [83, 65, 85]}

#Define Data frame
grades =pd.DataFrame(grades_dict)

#Produce dictionary
grades

   Wally  Eva  Sam  Katie  Bob
0     87  100   94    100   83
1     96   87   77     81   65
2     70   90   90     82   85

In [17]:
#Call Eva's grades
grades['Eva']

0    100
1     87
2     90
Name: Eva, dtype: int64

In [18]:
#Call Wally's grades
grades.Wally

0    87
1    96
2    70
Name: Wally, dtype: int64

# Module 4 Project -Task 2.2

Author: [Hayley Massey](https://github.com/HMas522)
Repository: [datafun-04-notebooks](https://github.com/HMas522/datafun-04-notebooks)

In [20]:
#import some items
import numpy as np

import pandas as pd

In [21]:
#Define temps
temps = np.random.randint(60, 101, 6)

temperatures = pd.Series(temps)

In [22]:
#Call function
temperatures

0    83
1    73
2    90
3    70
4    96
5    84
dtype: int32

In [23]:
#Call Min
temperatures.min()

70

In [24]:
#Call Max
temperatures.max()

96

In [25]:
#Call Mean
temperatures.mean()

82.66666666666667

In [26]:
#Call Describe
temperatures.describe()

count     6.000000
mean     82.666667
std       9.872521
min      70.000000
25%      75.500000
50%      83.500000
75%      88.500000
max      96.000000
dtype: float64