# Module 4 Project -Task 5

Author: [Hayley Massey](https://github.com/HMas522)
Repository: [datafun-04-notebooks](https://github.com/HMas522/datafun-04-notebooks)

Date: 05June23

# Task 1 Create DataFrame

In [2]:
#This cell is Python
import pandas as pd

In [8]:
#TODO Create contact list
contacts = [['Mark Green', 'demo1@ditel.com', '5555555555'], ['Jane Blue', 'demo2@ditel.com', '1234567899'] ]

In [9]:
#Create DataFrame
contactsdf = pd.DataFrame(contacts, 
                          columns = ['Name', 'Email', 'Phone'])

In [10]:
#Call function of data frame
contactsdf

         Name            Email       Phone
0  Mark Green  demo1@ditel.com  5555555555
1   Jane Blue  demo2@ditel.com  1234567899

# Format Phone numbers using map()

In [16]:
#import 
import re

In [21]:
#Define the function using formatting and a return result
def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

In [22]:
#Map the formatted code into the dataframe
formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

formatted_phone

0    555-555-5555
1    123-456-7899
Name: Phone, dtype: object

In [24]:
#Confirm the new format by calling the original
contactsdf['Phone'] = formatted_phone

contactsdf

         Name            Email         Phone
0  Mark Green  demo1@ditel.com  555-555-5555
1   Jane Blue  demo2@ditel.com  123-456-7899