# Module 4 Project -Task 1

Author: [Hayley Massey](https://github.com/HMas522)
Repository: [datafun-04-notebooks](https://github.com/HMas522/datafun-04-notebooks)

In [10]:
#This cell is Python
import pandas as pd

In [27]:
#List of grades by defining grades
grades = pd.Series([50, 72, 100, 66])

#display output
grades

0     50
1     72
2    100
3     66
dtype: int64

In [28]:
# TODO Get value of first grade
grades[0]

#Calling series method describe to produce stats
grades.describe()

count      4.000000
mean      72.000000
std       20.848661
min       50.000000
25%       62.000000
50%       69.000000
75%       79.000000
max      100.000000
dtype: float64

# Module 4 Project -Task 2.1

Author: [Hayley Massey](https://github.com/HMas522)
Repository: [datafun-04-notebooks](https://github.com/HMas522/datafun-04-notebooks)

In [13]:
#import pandas
import pandas as pd

In [30]:
#Create a dictionary
grades_dict ={'Zelda': [100, 99, 95], 'Mario': [80, 70, 75], 'Kirby' : [95, 100, 80], 'Samus' : [95, 78, 89], 'Pikachu' : [60, 71, 79]}

#Define Data frame
grades =pd.DataFrame(grades_dict)

#Produce dictionary
grades

   Zelda  Mario  Kirby  Samus  Pikachu
0    100     80     95     95       60
1     99     70    100     78       71
2     95     75     80     89       79

In [31]:
#Call Eva's grades
grades['Mario']

0    80
1    70
2    75
Name: Mario, dtype: int64

In [32]:
#Call Wally's grades
grades.Zelda

0    100
1     99
2     95
Name: Zelda, dtype: int64

# Module 4 Project -Task 2.2

Author: [Hayley Massey](https://github.com/HMas522)
Repository: [datafun-04-notebooks](https://github.com/HMas522/datafun-04-notebooks)

In [33]:
#import some items
import numpy as np

import pandas as pd

In [34]:
#Define temps
temps = np.random.randint(70, 105, 6)

temperatures = pd.Series(temps)

In [35]:
#Call function
temperatures

0     99
1     72
2     84
3     83
4    100
5     74
dtype: int32

In [36]:
#Call Min
temperatures.min()

72

In [37]:
#Call Max
temperatures.max()

100

In [38]:
#Call Mean
temperatures.mean()

85.33333333333333

In [39]:
#Call Describe
temperatures.describe()

count      6.000000
mean      85.333333
std       11.961048
min       72.000000
25%       76.250000
50%       83.500000
75%       95.250000
max      100.000000
dtype: float64