# Module 4 Project -Task 1

Author: [Hayley Massey](https://github.com/HMas522)
Repository: [datafun-04-notebooks](https://github.com/HMas522/datafun-04-notebooks)
Smash Brothers Tournament example video: [Smash Ultimate Tournament - 17 (Zelda) Vs. Spiffy (Sheik, Young Link) ](https://www.youtube.com/watch?v=xLBONWiy34U)

In [57]:
#This cell is Python
import pandas as pd

In [58]:
#List of grades by defining grades
grades = pd.Series([50, 72, 100, 66])

#display output
grades

0     50
1     72
2    100
3     66
dtype: int64

In [59]:
# TODO Get value of first grade
grades[0]

#Calling series method describe to produce stats
grades.describe()

count      4.000000
mean      72.000000
std       20.848661
min       50.000000
25%       62.000000
50%       69.000000
75%       79.000000
max      100.000000
dtype: float64

# Module 4 Project -Task 2.1

Author: [Hayley Massey](https://github.com/HMas522)
Repository: [datafun-04-notebooks](https://github.com/HMas522/datafun-04-notebooks)

In [60]:
#import pandas
import pandas as pd

In [61]:
#Create a dictionary
hitpoints_dict = {'Zelda': [50, 10, 39], 'Mario': [180, 71, 20], 'Kirby' : [95, 153, 20], 'Samus' : [25, 200, 80], 'Pikachu' : [60, 71, 79]}

#Define Data frame
hitpoints =pd.DataFrame(hitpoints_dict)

#Produce dictionary
hitpoints

   Zelda  Mario  Kirby  Samus  Pikachu
0     50    180     95     25       60
1     10     71    153    200       71
2     39     20     20     80       79

In [62]:
#Call Mario's hitpoints
hitpoints['Mario']

0    180
1     71
2     20
Name: Mario, dtype: int64

In [63]:
#Call Zelda's hitpoints
hitpoints.Zelda

0    50
1    10
2    39
Name: Zelda, dtype: int64

# Module 4 Project -Task 2.2

Author: [Hayley Massey](https://github.com/HMas522)
Repository: [datafun-04-notebooks](https://github.com/HMas522/datafun-04-notebooks)

In [64]:
#import some items
import numpy as np

import pandas as pd

In [65]:
#Define hitpoint - hit points in a match range from 0 to 200, for say 6 matches
hitpoint = np.random.randint(0, 200, 6)

hitpoints1 = pd.Series(hitpoint)

In [66]:
#Call function
hitpoints1

0    183
1     62
2     83
3     90
4     32
5    174
dtype: int32

In [67]:
#Call Min
hitpoints1.min()

32

In [68]:
#Call Max
hitpoints1.max()

183

In [69]:
#Call Mean
hitpoints1.mean()

104.0

In [70]:
#Call Describe
hitpoints1.describe()

count      6.000000
mean     104.000000
std       61.198039
min       32.000000
25%       67.250000
50%       86.500000
75%      153.000000
max      183.000000
dtype: float64